@model FutsalProject.Models.TorneoViewModel

@using Core.Infraestructure.Custom

@{
    ViewData["Title"] = "Delete";
    var resultEntity = (ResultEntity)ViewBag.ResultEntity;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TorneoViewModel</h4>
    <hr />

    @if (resultEntity != null)
    {
        <div class="alert @(resultEntity.ResultOk ? "alert-success" : "alert-danger") alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Completed: @resultEntity.ResultOk</strong> @resultEntity.Message
        </div>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPrimeraRonda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPrimeraRonda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSegundaRonda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSegundaRonda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTerceraRonda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTerceraRonda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiempoDeJuego)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TiempoDeJuego)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
