@model IEnumerable<FutsalProject.Models.TorneoViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<h2>GetAll</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrimeraRonda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSegundaRonda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTerceraRonda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoDeJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrimeraRonda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSegundaRonda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTerceraRonda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoDeJuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
