@model IEnumerable<FutsalProject.Models.EquipoViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<h2>GetAll</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreLargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCorto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscudoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAfiliacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCorto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscudoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAfiliacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
